body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
}

input {
  text-align: center;
  width: 100px;
}

button .text-white {
  color: #eee !important;
}

.my-btn {
  transition: all 0.4s linear;
  color: #fff !important;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: yellow !important;
}

.card-header {
  color: yellow !important;
  font-weight: 300;
}
